@m-mdy-m:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true